<div class="employee">
    <h3>Adding New Employee</h3>
    <br/>
    <div class="form-group col-sm-5">
        <form [formGroup]="newEmployeeForm" (ngSubmit)="add(newEmployeeForm)">
            <label class="form-label">Employee ID (*):</label>
            <input class="form-control" formControlName="employeeId" placeholder="Employee ID" type="number" required/>
            <label class="form-label">Name (*):</label>
            <input class="form-control" formControlName="name"  placeholder="Full Name" required/>
            <label class="form-label">Phone Number:</label>
            <input class="form-control" formControlName="phoneNumber" placeholder="Phone Number"/>
            <label class="form-label">Supervisors:</label>
            <input class="form-control" formControlName="supervisors" placeholder="Supervisors"/>
            <br/>
            <button class="btn btn-primary" type="submit">Submit</button>
            &nbsp;
            <button class="btn btn-light" routerLink="/">Cancel</button>       
        </form>
    </div>
</div>
